name = "sitebuilder-agent"
main = "worker/index.js"
compatibility_date = "2026-02-24"

[[r2_buckets]]
binding = "seo_ai_apify_raw"
bucket_name = "seo-ai-apify-raw"

[[d1_databases]]
binding = "DB"
database_name = "Onboarding_AI_Agent"
database_id = "6829390f-6695-4f75-8ebb-d367150981ca"

[ai]
binding = "AI"
