name = "sitebuilder-agent"
main = "src/worker.ts"
compatibility_date = "2026-02-24"

[[r2_buckets]]
binding = "seo_ai_apify_raw"
bucket_name = "seo-ai-apify-raw"

[[d1_databases]]
binding = "DB"
database_name = "SEO_AI_Agent"
database_id = "e5b22404-32e9-4a5c-a890-1effb9266c9c"

[[vectorize]]
binding = "USER_MEM"
index_name = "user-memory"

[[vectorize]]
binding = "GLOBAL_TRENDS"
index_name = "global-trends"

[[vectorize]]
binding = "DESIGN_CATALOG"
index_name = "design-catalog"

[ai]
binding = "AI"
